
@media (max-width: 1500px) {
    .more-info-text {
        display: none;
    }
}

/* Universal Styles*/
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: auto;   
    margin-right: 0px;
    
}
/*
div{
    border-style: solid;
    border-color: salmon;
}
*/
h2 {
    font-size: 20px;
    color: #d93025;
    padding-left: 10px;
    margin: 25px 35px;
    
}
.footer {
    background-color: #f2f2f2;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 0;
     
}

span {
    font-family: monospace;
    color: #666666;
}

.my-foot-link {
    padding-left: 40px;
}

.my-nav-link{
  color: black;  
}

.my-nav-link:hover
 {
    text-decoration: underline;
    opacity: 87%;
    color: black;
}




/*Search and Picture Search buttons and input styles*/

.search-input-text {   
    color: #f2f2f2;
    width: 560px;
    height: 40px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 14px;
    border-width: 1px;
    border-radius: 20px;
}



.search-submit {
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 11px 4px;
    background-color: #f2f2f2;
    color: #5f6368;
    border-radius: 4px;
    border-style: none ;

}

.search-submit:hover {
    color: #222222;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}



/*Search and Picture page logo container*/
.my-pic-row-height {
    height: 300px;
}

/*Search page logo style */
#google-search-logo {
    height: 200px;
    width: 300px;
    padding-top: 50px;
}


/*Image Search page style*/
.image.cont {
   width: 200px;
   height: 90px;
   margin-bottom: 10px;
}



/*Advanced Search page styles*/

.find-pages-header {
    font-size: 16px;
    text-align: end;
}

.information-header {
    font-size: 13px;
    color: #777777;
    font-weight: bold;
}
.adv-nav-bar {
    height: 60px;
    background-color: #f2f2f2;
    
}
.adv-forn-container {
    
    margin-left: 50px;
    margin-top: 50px;
}

.label-column{
 text-align: right;

}

.more-info-text {
    font-size: 11px;
    color: #666666;
}

.adv-text-input {
    width: 550px;
    height: 30px;
    padding: 1px 8px;
    font-size: 13px;
    border-radius: 0%;
    margin-bottom: 15px;
}

.adv-submit {
    height: 30px;
    width: 120px;
    background-color: #4d90fe;
    color: #ffffff;
    border-radius: 2px;
    border-style: none;
    padding: 0px 12px;
    margin: 10px 0px;
    font-size: 11px;
    line-height: 11px;
    
}

.adv-submit:hover {
    background-color: #357ae8;
}

.adv-submit:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset;
}


/*advanced search page google logo*/
#adv-nav-bar-image{
    padding-left: 30px;
    padding-top: 5px;
}

/*Nav links margin*/
#top-bar {
    margin-right: 0;
}